---
http_interactions:
- request:
    method: post
    uri: https://endpoints.surfdome.cc/peoplevox_endpoint/api/sku_lookup
    body:
      encoding: UTF-8
      string: '{"man_sku":"SV507-A59","size":"14","key":"P5Ft0ZgmJuqWB","token":"twRduwypFJoZVYkbMe5KYuqPqG7lDxmSVxUWNP3i"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"sku":"18312-13","barcode":"5052094029950","m_sku":"SV507-A59","size":"14"}'
  recorded_at: Thu, 03 Dec 2015 11:31:35 GMT
recorded_with: VCR 2.9.2
