---
http_interactions:
- request:
    method: post
    uri: https://endpoints.surfdome.cc/peoplevox_endpoint/api/sku_lookup
    body:
      encoding: UTF-8
      string: '{"man_sku":"12345","size":"Small","key":"P5Ft0ZgmJuqWB","token":"twRduwypFJoZVYkbMe5KYuqPqG7lDxmSVxUWNP3i"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Dec 2015 17:23:03 GMT
recorded_with: VCR 2.9.2
