---
http_interactions:
- request:
    method: post
    uri: https://endpoints.surfdome.cc/peoplevox_api/sku_lookup_by_barcode_and_surfdome_size
    body:
      encoding: UTF-8
      string: '{"key":"sOufQ5GM132FI","token":"2GgiGuEliQyQzQSjk4e3jliEoVJxaAlHRD3YNFVd","barcode":"000001","size":"10"}'
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Mar 2017 15:03:34 GMT
recorded_with: VCR 2.9.2
