---
http_interactions:
- request:
    method: post
    uri: https://endpoints.surfdome.cc/peoplevox_endpoint/api/sku_lookup
    body:
      encoding: UTF-8
      string: '{"key":"sOufQ5GM132FI","token":"2GgiGuEliQyQzQSjk4e3jliEoVJxaAlHRD3YNFVd","man_sku":"12345","size":"Small"}'
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Dec 2016 17:04:06 GMT
recorded_with: VCR 2.9.2
