<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/app.css?_=<%= `git rev-parse HEAD`.chomp %>" />
  </head>
  <body>
    <div id="app"></div>
    <script src="/assets/app.js?_=<%= `git rev-parse HEAD`.chomp %>"></script>
  </body>
</html>
