<html>
  <head>
    <meta charset="utf-8">
    <title><%= t(:page_title) %></title>
    <link rel="stylesheet" href="/assets/stylesheets/app.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  </head>
  <body>
    <div id="app"></div>

    <script>
      ENV = { RAILS_ENV: "<%= Rails.env %>",
              STOCKBUG_PATH: "<%= ENV['STOCKBUG_PATH'].html_safe %>",
              QUANTITY_EDIT_PATH: "<%= ENV['QUANTITY_EDIT_PATH'].html_safe %>" }
    </script>

    <script src="/assets/javascripts/app.js"></script>
  </body>
</html>
