.purchase_orders_table {
  .table {
    font-size: .8em;
  }
}

.purchase_orders_table__thead--sticky {
  background: white;
  display: block;
  left: 0;
  position: fixed;
  top: 51px;
  z-index: 2000;
}
