.purchase_orders_table,
.purchase_orders_table--sticky {
  .table {
    font-size: .8em;
    word-break: break-all;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 5px;
  }

  .scaled th,
  .scaled td {
    width: 4%;

    &.x-wide {
      width: 8%;
    }

    &.wide {
      width: 6%;
    }

    &.wideish {
      width: 5%;
    }

    &.narrowish {
      width: 3%;
    }

    &.narrow {
      width: 2%;
    }
  }
}

.purchase_orders_table--sticky {
  thead {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .2);
    display: block;
    left: 14px;
    position: fixed;
    top: 51px;
    z-index: 2000;
  }
}
