<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-header">
      <a href="/" class="navbar-brand" style="padding-top: .6em">
        <img src="/assets/images/surfdome-logo-white-500px.png" alt="Surfdome" style="height: 30px"/>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/#/skus">SKUs</a></li>
      <li><a href="/#/barcodes">Barcodes</a></li>
      <li><a href="/#/orders">Orders</a></li>
      <li><a href="/">Lines</a></li>
      <li><a href="/#/suppliers">Suppliers</a></li>
      <li><a href="/#/vendors">Brands</a></li>
      <li><a href="/#/terms">Terms</a></li>
      <li><a href="/#/goods-received-notices">Booking tool</a></li>
    </ul>

  </nav>
</div>
