.grn_day {
  float: left;
  font-size: .8em;
  margin-right: 1%;
  width: 17%;
}

.grn_day__title {
  font-weight: bold;
  text-transform: uppercase;
}

.grn_day__badge {
  background: #337ab7;
  font-size: .9em;
}
