.grn_day {
  float: left;
  font-size: .8em;
  margin: 0 .5%;
  width: 19%;
  overflow: hidden;
  padding-bottom: 2em;

  .list-group {
    position: relative;
    z-index: 1;
  }
}

.grn_day__title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.grn_day__badge {
  background: #337ab7 !important;
  float: right;
  font-size: 1.1em;
  margin-left: 5px;

  .grn_day--compact & {
    display: none;
  }
}

.grn_day__add_btn {
  background: rgba(245,245,245, 0);
  border-color: #ddd;
  font-size: 1em;
  -webkit-transition: all .1s ease-in;
  position: relative;
  padding-top: 10px;
  top: -25px;
  z-index: 0;

  .glyphicon {
    top: 0;
  }

  &:hover,
  &:focus {
    background: rgba(245,245,245, 1);
    border-color: #ddd;
    top: -24px;
  }
}
