.grn_notice__badge {
  background: #5bc0de;
  font-size: .9em;
  opacity: .8;

  .grn_notice--late & {
    background: #d9534f;
  }

  .grn_notice--delivered & {
    background: #ec971f;
  }

  .grn_notice--received & {
    background: #449d44;
  }

  .grn_notice--compact & {
    display: none;
  }
}
